$transitionDurationPrimary: var(--transition-duration-primary);
$transitionDurationSecondary: var(--transition-duration-secondary);

$transitionFunctionPrimary: var(--transition-function-primary);
$transitionFunctionSecondary: var(--transition-function-secondary);

$borderRadiusPrimary: var(--border-radius-primary);
$borderRadiusSecondary: var(--border-radius-secondary);

$boxShadowPrimary: var(--box-shadow-primary);
$boxShadowSecondary: var(--box-shadow-secondary);

$colorLightPrimary                : var(--color-light-primary);
$colorLightSecondary              : var(--color-light-secondary);
$colorDarkPrimary                 : var(--color-dark-primary);
$colorDarkSecondary               : var(--color-dark-secondary);
$colorGrayPrimary                 : var(--color-gray-primary);
$colorGraySecondary               : var(--color-gray-secondary);
$colorBluePrimary                 : var(--color-blue-primary);
$colorBlueSecondary               : var(--color-blue-secondary);
$colorBlueThird                   : var(--color-blue-third);