# phpstorm project files
.idea

# Dump file
*.stackdump

!.gitkeep
*~
*.iml
.DS_Store
.sass-cache

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# Folder config file
[Dd]esktop.ini

# windows thumbnail cache
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant

# frontend_dev dependencies
/frontend_dev/node_modules
/frontend_dev/.idea