/*
    ----------------------------------
    18. Filters
    ----------------------------------
*/
.filters .filter-box {
  margin-bottom: -1px;
  border: 1px solid #e4e4e4;
}

.filters .filter-box .title {
  cursor: pointer;
  padding: 10px;
  background-color: white;
  position: relative;
}

.filters .filter-box .title span {
  font-size: 70%;
  color: #ffbb00;
}

.filters .filter-box .title:after {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: "\e874";
  font-family: 'LinearIcons';
  position: absolute;
  display: inline-block;
  line-height: 42px;
  height: 42px;
  width: 42px;
  right: 0;
  top: 0;
  text-align: center;
}

.filters .filter-box.active .title:after {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media (min-width: 992px) {
  .filters .filter-box {
    margin-bottom: 10px;
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
}

.filters .filter-content {
  display: none;
  padding: 10px;
  background-color: white;
  border-top: 1px solid #dddddd;
}

.filters .filter-content .checkbox label {
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently*/
}

.filters .filter-content i {
  font-style: normal;
  display: block;
  font-size: 70%;
  float: right;
  line-height: 28px;
  margin-right: 5px;
}

.filters.filters-top .filter-box {
  position: relative;
}

.filters.filters-top .filter-update {
  display: none;
}

@media (min-width: 992px) {
  .filters.filters-top {
    padding-top: 40px;
    background-color: #eeeeee;
  }
  .filters.filters-top .filter-content {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 99;
    border: 1px solid #e4e4e4;
    margin: 0;
    max-height: 300px;
    overflow: auto;
  }
  .filters.filters-top .filter-update {
    border-top: 1px solid #dddddd;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ffbb00;
    color: white;
    display: none;
  }
  .filters.filters-top .filter-box {
    margin-bottom: 0;
  }
  .filters.filters-top .filter-box.active .filter-update {
    display: block;
  }
}

@media (max-width: 991px) {
  .filters.filters-top .container {
    padding: 0;
    width: 100%;
  }
}

.filters .toggle-filters-close {
  width: 100%;
}

@media (max-width: 991px) {
  .filters {
    background-color: white;
    position: fixed;
    width: 50%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: auto;
    right: 0;
    overflow: auto;
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .filters .row {
    margin: 0;
  }
  .filters .row > div {
    padding: 0;
  }
  .filters.active {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  }
  .filters .toggle-filters-close {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}
