//$colorLinkButtonFilledText        : $colorLightPrimary;
//$backgroundLinkButtonFilled       : $colorOrangePrimary;
//$backgroundLinkButtonFilledHover  : $colorOrangeSecondary;

.link-button {
  display: inline-block;
  padding: 8px 24px!important; /*bootstrap destroy this style*/
  overflow: hidden;
  text-align: center;
  border: none;
  border-radius: $borderRadiusPrimary;
  cursor: pointer;
  transition: color, background, box-shadow, $transitionDurationPrimary $transitionFunctionSecondary;

  &_filled {
    color: $colorLinkButtonFilledText!important;
    box-shadow: 0 2px 0 $colorBluePrimary,
    inset 0 2px rgba(255,255,255,0.1);
    background: $colorBlueThird;

    &:hover {
      background: $colorBlueSecondary;
      box-shadow: 0 2px 0 #006799,
      inset 0 2px rgba(255,255,255,0.1);
    }

    &:active {
      background: #0073aa;
      box-shadow: inset 0 2px 0 #006799,
      inset 0 2px rgba(255,255,255,0.1);
    }
  }

  &_blink {
    &:before {
      position: absolute;
      content: '';
      top: -50%;
      right: -50%;
      bottom: -50%;
      left: -50%;
      width: 200%;
      height: 40px;
      background: linear-gradient( to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
      transform: rotateZ(60deg) translate(0, 8000%);
      animation: sheen 5s infinite ease-in-out 2s;
    }
  }

  &_default {
    color: $colorLightPrimary!important;
    background: $colorBlueSecondary;

    &:hover {
      color:  $colorLinkButtonTextHover!important;
      background: $colorLinkButtonFilledText;
    }
  }

  &_light {
    color:  $colorBluePrimary!important;
    background:  $colorLightPrimary;

    &:hover {
      color:  $colorLightPrimary!important;
      background:  $colorBlueThird;
    }
  }
}
@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(0, -800%);
  }
}













