.search-block {
  $self: & ;

  &__form {
    position: absolute;
    top: 50%;
    right: 0;
    display: none;
    flex-direction: row;
    align-items: center;
    width: 0;
    height: 40px;
    margin-left: auto;
    transform: translate(0, -50%);
    transition: width $transitionDurationSecondary $transitionFunctionSecondary;
    @media ($largeTabletsMin) {
      display: flex;
    }

    &.is-active {
      width: 100%;

      #{$self}__input {
        padding: 0 52px;
        border: 1px solid $colorInputBorder;
      }

      #{$self}__button {
        left: 8px;
      }

      #{$self}__close {
        display: block;
      }
    }
  }

  &__input {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    min-height: 30px;
    padding: 0 8px;
    border: 1px solid transparent;
    border-radius: 3px;
    transform: translate(0, -50%);
    transition: width $transitionDurationPrimary $transitionFunctionPrimary;
  }

  &__button {
    position: absolute;
    top: 6px;
    left: -34px;
    z-index: 11;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: color $transitionDurationPrimary $transitionFunctionPrimary;

    & path {
      transition: stroke $transitionDurationPrimary $transitionFunctionPrimary;
    }

    &:hover {
      color: $colorBlueSecondary;
      path {
        stroke: $colorBlueSecondary;
      }
    }
  }

  &__close {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 10;
    display: none;
    width: 13px;
    height: 13px;
    transform: translateY(-50%);
    cursor: pointer;

    svg {
      position: absolute;
    }

    &:hover {
      path {
        stroke: $colorBlueSecondary;
      }
    }
  }
}