.sidebar {
  position: relative;
  z-index: 8;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  margin-bottom: 8px;

  &__nav {
    align-self: flex-start;
    width: 100%;
    background: $colorLightPrimary;
  }

  .menu {
    display: block;
    font-size: 14px;
    background: linear-gradient(to right,$colorBluePrimary 0%,$colorBlueThird 60%);

    &__link {
      display: flex;
      align-items: center;
      padding: 8px 24px;
      color: $colorDarkPrimary;
      transition: color,background $transitionDurationPrimary $transitionFunctionPrimary;

      &:hover {
        color:$colorLightPrimary;
        background:$colorBlueSecondary;
      }
    }

    &__item {
      position: relative;


      &.menu__item_has-sub-menu:after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 23px;
        height: 23px;
        color: $colorBluePrimary!important;
        font-family: "FontAwesome";
        font-size: 20px;
        transform: translate(0,-50%);
        transition: color $transitionDurationSecondary $transitionFunctionPrimary;
        content: "\f105";
      }
    }

    &__sub-menu {
      position: absolute;
      top: 60px;
      left: 100%;
      display: none;
      width: 150%;
      font-size: 13px;
      background: $colorLightPrimary;
      box-shadow: 10px 5px 10px 5px rgba(0,0,0,0.1),40px 11px 40px 15px rgba(0,0,0,0.1);
      opacity: 0;
    }

    >.menu__item {
      &:before {
        position: absolute;
        left: 16px;
        right: 16px;
        bottom: 0;
        height: 1px;

        //background: linear-gradient( 90deg, rgba(255,255,255,0), rgba(24,63,147, 0.35) 50%, rgba(24,63,147, 0.35) 50%, rgba(255,255,255,1) );
        background: linear-gradient( 90deg, rgba(24,63,147, 0.35), rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%, rgba(24,63,147, 1) );
        background-position: 100% 0;
        background-size: 200% 100%;
        background-origin: padding-box;
        transition: background-position $transitionDurationPrimary $transitionFunctionSecondary;

        content: '';
      }

      &:last-child:before {
        content: none;
      }

      >.menu__link {
        position: relative;
        min-height: 64px;
        color: $colorLightPrimary;
        margin: 0 16px;
        padding: 0 16px 0 0;
        //border-bottom: 1px solid rgba(24,63,147, 0.35);

        &:last-child {
          border-bottom: none;
        }
      }

      &:first-child {
        >.menu__link {
          //padding-top: 16px;
        }
      }

      &:last-child {
        >.menu__link {
          //padding-bottom: 16px;
        }
      }

      &:hover {
        >.menu__link {
          background: transparent;
        }

        &:after {
          color: $colorLightPrimary!important;
          transform: translate(0 ,-50%);
        }
        &:before {
          background-position: 0 0;
        }
      }
    }
  }
}



