.main-page-slider {
  margin-bottom: $step12;
  @media ($laptopsMax) {
    overflow: hidden;
  }

  .slider {
    width: 100%!important;
    margin: 0;
    overflow: visible!important;

    &__item {
      padding: 16px;
      overflow: hidden;
      color: $colorCardsDescLinkDark;
      background: $colorLightPrimary;
      border: 1px solid $colorBluePrimary;
      border-radius: $borderRadiusPrimary;
      box-shadow: 1px 3px 10px rgba($colorBluePrimary, 0.2);
      transition: all $transitionDurationPrimary $transitionFunctionPrimary;

      &:hover {
        border-color: $colorBlueSecondary;
        box-shadow: 1px 3px 10px rgba($colorBlueSecondary, 0.2);
        transform: translateY(-3px);

        .list__title {
          color: $backgroundButtonFilledHover;
        }
      }
    }

    &__pic {
      display: block;
      height: 200px;
      object-fit: contain;
      transition: all $transitionDurationPrimary $transitionFunctionPrimary;
    }

    &__figure {
      position: relative;
      display: block;
      height: 100%;
    }

    &__title {
      text-align: center;
      background: transparent;
      transition: all $transitionDurationPrimary $transitionFunctionPrimary;
    }
  }

  .owl {
    &-item {
      padding: 16px 0;
    }

    &-prev,
    &-next {
      position: absolute;
      top: 50%;
      z-index: 10;
      width: 80px;
      height: 50px;
      margin-top: -25px;
      text-align: center;
      text-decoration: none;
      background: transparent;
      outline: none;
      cursor: pointer;
      transition: all $transitionDurationPrimary $transitionFunctionPrimary;
      @media ($largeTabletsMax) {
        display: none;
      }

      &:before {
        transition: all $transitionDurationPrimary $transitionFunctionPrimary;
      }

      &:hover svg path {
        stroke: $colorBlueSecondary!important;
      }

      &.disabled svg path {
        stroke: $colorGrayPrimary!important;
      }

      span {
        display: none!important;
      }
    }

    &-prev {
      left: -70px;
    }

    &-next {
      right: -70px;
    }
  }
}