/* Large desktops */
$desktops:              'min-width: 1200px';
$laptopsMax:            'max-width: 1199px';
$laptopsMin:            'min-width: 992px';
$largeTabletsMax:       'max-width: 991px';
$largeTabletsMin:       'min-width: 768px';
$smallTabletsMax:       'max-width: 767px';
$smallTabletsMin:       'min-width: 481px';
$phonesMax:             'max-width: 480px';
