$colorMainFontLight               : $colorLightPrimary;
$colorMainFontDark                : $colorDarkPrimary;
$colorMainFontOrange              : $colorBluePrimary;
$colorMainFontGreen               : $colorBlueSecondary;


//btns
$colorButtonText                  : $colorDarkPrimary;
$colorButtonTextHover             : $colorLightPrimary;
$colorButtonFilledText            : $colorLightPrimary;

$colorButtonBorder                : $colorDarkPrimary;
$colorButtonBorderHover           : $colorBluePrimary;

$backgroundButtonHover            : $colorBluePrimary;
$backgroundButtonFilled           : $colorBluePrimary;
$backgroundButtonFilledHover      : $colorBlueSecondary;

$colorButtonDisabledText          : $colorLightPrimary;
$backgroundButtonDisabled         : $colorGrayPrimary;


//link-btns
//filled
$colorLinkButtonFilledText        : $colorLightPrimary;
$backgroundLinkButtonFilled       : $colorBluePrimary;
$backgroundLinkButtonFilledHover  : $colorBlueSecondary;

//default
$colorLinkButtonText              : $colorBluePrimary;
$backgroundLinkButton             : transparent;
$colorLinkButtonTextHover         : $colorBlueSecondary;
$backgroundLinkButtonHover        : transparent;

//burger
$backgroundBurgerLines            : $colorLightPrimary;
$backgroundBurgerHover            : $colorBlueSecondary;

$colorInputBorder                 : $colorGrayPrimary;
$colorInputText                   : $colorDarkPrimary;
$colorInputTextFocus              : $colorDarkPrimary;

//modal
$backgroundModal                  : $colorLightPrimary;
$boxShadowModal                   : $colorDarkPrimary;
$backgroundModalClose             : $colorBluePrimary;
$backgroundModalCloseHover        : $colorBlueSecondary;
$backgroundModalCloseLines        : $colorLightPrimary;
$backgroundModalCloseLinesHover   : $colorLightPrimary;

//header
$colorHeaderLinkHover             : $colorBlueSecondary;
$colorHeaderLink                  : $colorLightPrimary;
$colorHeaderLinkChildren          : $colorDarkPrimary;
$colorHeaderLinkChildrenHover     : $colorBlueSecondary;
$backgroundHeader                 : $colorBluePrimary;
$backgroundHeaderDropDownLight    : $colorLightPrimary;
$borderUnderHeader                : $colorLightSecondary;



//footer
$colorFooterFontLight             : $colorLightPrimary;
$colorFooterMenuFontLight         : $colorLightSecondary;
$colorFooterFontActive            : $colorBlueSecondary;
$backgroundFooterDark             : $colorDarkSecondary;
$borderFooterLight                :	$colorLightSecondary;


$backgroundSpoilerOpen            : $colorBluePrimary;
$backgroundSpoilerOpenLines       : $colorLightPrimary;
$backgroundListStyleIconLight     : $colorLightPrimary;
$backgroundListStyleIcon          : $colorBluePrimary;



$colorCardsDescLinkDark           : $colorDarkPrimary;
$backgroundFlipCard               : $colorGraySecondary;
$backgroundCardIconWhite          : $colorLightPrimary;
$backgroundPreLoader              : $colorLightPrimary;
$colorAboutTopTextdark            : $colorDarkPrimary;


