:root {
  --color-light-primary: #FFFFFF;
  --color-light-secondary: #F3F3F3;
  --color-dark-primary: #1A1A1A;
  --color-dark-secondary: #232323;;
  --color-gray-primary: #CCCCCC;
  --color-gray-secondary: #F4F5F7;
  --color-blue-primary: #ffb400;
  --color-blue-secondary: #FFE767;
  --color-blue-third: #CB8000;

  --transition-duration-primary: 0.5s;
  --transition-duration-secondary: 0.5s;

  --transition-function-primary: ease-in-out;
  --transition-function-secondary: cubic-bezier(.4,0,.2,1);

  --border-radius-primary: 6px;
  --border-radius-secondary: 15px;

  --main-font: OpenSans, Helvetica, sans-serif;
  --second-font: PermianSans, Arial, sans-serif;
}