.main-page-info {
  position: relative;
  width: 100%;
  margin-bottom: $step12;
  overflow: hidden;
  @media ($largeTabletsMax) {
    margin-bottom: $step3;
  }

  .article {
    display: block;
    width: 100%;

    &__picture {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    &__image {
      width: 100%;
      object-fit: contain;
      @media ($laptopsMax) {
        margin-left: 0;
      }
    }
  }

  .desc-list {
    margin-bottom: $step4;
  }
}