input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea {

  &:focus {
    color: $colorInputTextFocus;
  }
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

select {
  border: 2px solid $colorInputBorder;
}

textarea {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}



.input-field {
  max-width: 330px;
  min-height: 40px;
  padding: 0 12px;
  color: $colorInputTextFocus;
  border: 1px solid $colorInputBorder;
  border-radius: $borderRadiusPrimary;

  &::-webkit-input-placeholder {
    color: $colorInputText;
  }
  &:-ms-input-placeholder {
    color: $colorInputText;
  }
  &::-moz-placeholder {
    color: $colorInputText;
  }
  &::placeholder {
    color: $colorInputText;
  }

  &:focus {
    color: $colorInputTextFocus;
  }

  &:disabled {
    &::-webkit-input-placeholder {
      color: $colorGrayPrimary;
    }
    &:-ms-input-placeholder {
      color: $colorGrayPrimary;
    }
    &::-moz-placeholder {
      color: $colorGrayPrimary;
    }
    &::placeholder {
      color: $colorGrayPrimary;
    }
  }

  &_invalid {
    border-color: rgba(red, 0.3);
  }
}





