/*
    ----------------------------------
    22. BLog
    ----------------------------------
*/
.blog {
  position: relative;
  background-color: #eeeeee;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.blog .title {
  color: #3a3d45;
}

.blog .pre-header {
  margin-bottom: 15px;
  padding-bottom: 7.5px;
  display: table;
  width: 100%;
}

.blog .pre-header .sort-bar {
  background-color: transparent;
  padding: 0;
}

.blog .pre-header > div {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}

.blog .pre-header > div > * {
  margin: 0;
}

@media (min-width: 992px) {
  .blog .pre-header {
    margin-bottom: 20px;
    padding-bottom: 7.5px;
  }
}

.blog .blog-title,
.blog .blog-subtitle {
  text-transform: none;
  color: #3a3d45;
}

.blog strong {
  font-weight: 600;
}

.blog .wrapper-more {
  margin: 20px 10px 0;
}

@media (min-width: 992px) {
  .blog .wrapper-more {
    margin: 30px 20px 0;
  }
}

.blog aside .box {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 20px;
  position: relative;
  margin-bottom: 15px;
}

.blog aside .box .title {
  padding-top: 7.5px;
  margin-bottom: 15px;
}

.blog aside .box ul {
  margin: 0;
  padding: 0;
}

.blog aside .box ul li {
  list-style-type: circle;
  margin-left: 20px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.blog aside .box ul li:hover {
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

.blog aside .box ul li a {
  display: block;
  padding: 5px 0;
  border-bottom: 1px solid #eaeaea;
}

.blog aside .box ul li.active a {
  color: #ffbb00;
}

.blog aside .box ul li:last-child a {
  border-bottom: 0;
}

.blog aside .box.box-search {
  padding: 0;
  position: relative;
  background-color: white;
}

.blog aside .box.box-search .form-control {
  border: 0;
}

.blog aside .box.box-search .btn {
  position: absolute;
  right: 10px;
  top: 8px;
}

.blog aside .box.box-posts ul li {
  list-style-type: none;
  margin-left: 0;
}

.blog aside .box.box-posts ul li a {
  position: relative;
  display: table;
  width: 100%;
}

.blog aside .box.box-posts ul li a > span {
  display: table-cell;
  vertical-align: middle;
}

.blog aside .box.box-posts ul li a .date {
  width: 40px;
  text-align: center;
  line-height: 1;
}

.blog aside .box.box-posts ul li a .date span {
  display: block;
}

.blog aside .box.box-posts ul li a .date span:nth-child(1) {
  font-size: 75%;
}

.blog aside .box.box-posts ul li a .date span:nth-child(2) {
  font-weight: bold;
  font-size: 20px;
}

.blog aside .box.box-posts ul li a .text {
  padding-left: 5px;
}

.blog aside .box.box-tags ul li {
  margin: 0 2px 2px 0;
  display: block;
  float: left;
}

.blog aside .box.box-tags ul li a {
  padding: 5px;
  border: 0;
  background-color: #ffbb00;
  color: white;
  font-size: 13px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.blog aside .box.box-tags ul li a:hover {
  background-color: #cc9600;
}

@media (min-width: 768px) {
  .blog aside {
    display: block;
  }
  .blog aside .box {
    margin-bottom: 30px;
  }
}

.blog .nav-link {
  position: absolute;
  width: 65px;
  height: 85px;
  top: 220px;
  cursor: pointer;
  opacity: 0.5;
  z-index: 50;
}

.blog .nav-link:hover {
  opacity: 1;
}

.blog .nav-link:before {
  font-family: 'LinearIcons';
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  font-stretch: normal;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 60px;
  content: "";
  display: inline-block;
  width: 65px;
  height: 65px;
}

.blog .nav-link.next {
  right: 5px;
}

.blog .nav-link.prev {
  left: 5px;
}

.blog .nav-link.prev:before {
  content: "\e875";
}

.blog .nav-link.next:before {
  content: "\e876";
}

.blog .nav-link figure {
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  display: none;
  opacity: 0;
  position: absolute;
  width: 180px;
  left: auto;
  right: auto;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.blog .nav-link figure figcaption {
  text-align: center;
  padding: 10px;
}

.blog .nav-link figure figcaption .blog-title {
  margin: 0;
}

.blog .nav-link figure .image {
  position: relative;
  overflow: hidden;
}

.blog .nav-link figure .image img {
  width: 100%;
}

.blog .nav-link.next figure {
  right: 100%;
}

.blog .nav-link.prev figure {
  left: 100%;
}

.blog .nav-link.next:hover figure,
.blog .nav-link.prev:hover figure {
  opacity: 1;
}

@media (min-width: 992px) {
  .blog .nav-link figure {
    display: block;
  }
}

@media (max-width: 767px) {
  .blog .nav-link {
    display: none;
  }
}

.blog article {
  margin-bottom: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.blog article, .blog article a {
  color: black;
}

.blog article a {
  display: block;
}

.blog article a:hover {
  color: black;
}

.blog article .image {
  background-position: center;
  background-size: cover;
  overflow: hidden;
  height: auto;
}

.blog article .image img {
  display: block;
  width: 100%;
}

.blog article .entry {
  background-color: white;
  padding: 10px 15px;
  position: relative;
}

.blog article .entry.entry-table {
  display: table;
  width: 100%;
  height: 80px;
}

.blog article .entry.entry-table > div {
  display: table-cell;
  vertical-align: middle;
}

.blog article .entry.entry-table .title {
  padding-left: 10px;
}

.blog article .entry .date-wrapper {
  width: 55px;
}

.blog article .entry .date-wrapper .date {
  width: 50px;
  height: 60px;
  z-index: 99;
  z-index: 99;
  padding: 7px 0;
  text-align: center;
  border-right: 1px solid #ccc;
}

.blog article .entry .date-wrapper .date span {
  display: block;
  font-size: 11px;
  line-height: 12px;
}

.blog article .entry .title > * {
  margin: 0;
  text-transform: none;
}

.blog article .description {
  padding: 15px 0;
  color: white;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.blog article .show-more {
  background-color: white;
  position: absolute;
  padding: 0 15px 15px;
  left: 0;
  top: 100%;
  width: 100%;
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.blog article .show-more .btn {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.blog article .show-more, .blog article .show-more .btn {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.blog article.article-table {
  background-color: white;
}

.blog article.article-table > a {
  display: table;
  width: 100%;
}

.blog article.article-table > a > div {
  display: table-cell;
  vertical-align: middle;
}

.blog article.article-table > a .image {
  width: 50%;
}

.blog article.article-table > a .image img {
  display: none;
}

.blog article.article-table > a .text {
  padding: 15px;
  position: relative;
}

.blog article.article-table > a .text > * {
  position: relative;
  z-index: 99;
}

.blog article.article-table > a .text .text-intro {
  display: none;
}

.blog article.article-table > a .text:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: white;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.blog article.article-table:hover {
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  -webkit-transform: none;
  transform: none;
}

@media (min-width: 768px) {
  .blog article {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin-bottom: 30px;
  }
  .blog article .description {
    padding: 25px 0;
    -moz-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
  .blog article:hover {
    position: relative;
    color: initial;
    -moz-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    -o-transform: translate3d(0, -20px, 0);
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  .blog article:hover .text-wrapper {
    padding-bottom: 40px;
  }
  .blog article:hover .show-more {
    -moz-transform: scale(1,1) translate(-50%,-50%);
    -ms-transform: scale(1,1) translate(-50%,-50%);
    -o-transform: scale(1,1) translate(-50%,-50%);
    -webkit-transform: scale(1,1) translate(-50%,-50%);
    transform: scale(1,1) translate(-50%,-50%);
  }
  .blog article:hover .show-more .btn {
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .blog article:hover .description {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  .blog article .image {
    height: 220px;
  }
  .blog article .image img {
    display: none;
  }
  .blog article.article-table:hover .text:before {
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  }
  .blog article.article-table > a .text {
    padding: 40px;
  }
  .blog article.article-table > a .text .text-intro {
    display: block;
  }
  .blog article header {
    margin-bottom: 50px;
  }
}

.blog.blog-block article {
  position: relative;
}

.blog.blog-block article, .blog.blog-block article a, .blog.blog-block article .title {
  color: white;
}

.blog.blog-block article .entry-block {
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  overflow: hidden;
  padding: 25px;
}

.blog.blog-block article .date {
  font-size: 80%;
  margin-bottom: 5px;
}

.blog.blog-block article .image {
  height: auto;
}

.blog.blog-block article .image img {
  display: block;
}

.blog.blog-block article .image:before {
  background: -moz-linear-gradient(top, black 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, black 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, black 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  opacity: 0.5;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog.blog-block article .show-more {
  padding: 0;
  background-color: transparent;
  bottom: -45px;
  top: inherit;
  width: 90%;
  left: 50%;
  -moz-transform: scale(1, 1) translate(-50%, -50%);
  -ms-transform: scale(1, 1) translate(-50%, -50%);
  -o-transform: scale(1, 1) translate(-50%, -50%);
  -webkit-transform: scale(1, 1) translate(-50%, -50%);
  transform: scale(1, 1) translate(-50%, -50%);
}

.blog .blog-info.blog-info-top {
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  padding: 5px 0;
  margin-bottom: 20px;
  text-align: left;
}

@media (min-width: 992px) {
  .blog .blog-info.blog-info-top {
    padding: 10px 0;
  }
}

.blog .blog-info.blog-info-bottom {
  padding: 20px 0;
}

.blog .blog-info ul {
  margin: 0;
  padding: 0;
}

.blog .blog-info ul li {
  padding: 0;
  list-style-type: none;
}

.blog .blog-info .entry {
  padding: 5px 10px 5px 25px;
  list-style-type: none;
  display: inline-block;
  font-size: 90%;
}

.blog .blog-info .entry .fa {
  margin-left: -25px;
  width: 20px;
  text-align: center;
  margin-right: 5px;
}

.blog .blog-info .entry.divider {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 10px;
}

.blog .blog-post .blog-image-main img {
  width: 100%;
}

@media (min-width: 992px) {
  .blog .blog-post .blog-image-main {
    margin-top: -130px;
  }
  .blog .blog-post .blog-image-main img {
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 1200px) {
  .blog .blog-post .blog-image-main {
    margin-top: -160px;
  }
}

.blog .blog-post .blog-post-content {
  background-color: white;
  padding: 20px;
}

@media (min-width: 992px) {
  .blog .blog-post .blog-post-content {
    padding: 60px;
  }
}

.blog .blog-post .blog-image {
  margin: 20px 0;
  display: block;
}

.blog .blog-post .blog-image .caption {
  display: block;
  text-align: center;
  font-size: 75%;
  font-style: italic;
  padding: 5px 0;
}

@media (min-width: 992px) {
  .blog .blog-post .blog-image {
    margin: 30px 0;
  }
}

.blog .blog-post .blog-post-text img {
  border: 5px solid white;
  width: 100%;
}

.blog .blog-post .blog-post-text h2, .blog .blog-post .blog-post-text h3, .blog .blog-post .blog-post-text h4, .blog .blog-post .blog-post-text h5 {
  margin-top: 35px;
  text-transform: none;
}
